.content{
    display: flex;
    color: rgba(255, 255, 255, 0.726);
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.file-uploader{
    display: flex;
    color: rgba(255, 255, 255, 0.726);
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.playlist-creator{
    color: rgba(255, 255, 255, 0.726);
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input,button{
    border: solid 2px rgba(255, 255, 255, 0.726);
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    background-color: rgba(43, 40, 40, 0.459);
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
}